asgiref==3.9.1 ; python_version >= "3.12"
certifi==2025.11.12 ; python_version >= "3.12"
charset-normalizer==3.4.4 ; python_version >= "3.12"
django==5.2.4 ; python_version >= "3.12"
djangorestframework-simplejwt==5.5.1 ; python_version >= "3.12"
djangorestframework==3.16.0 ; python_version >= "3.12"
dotenv==0.9.9 ; python_version >= "3.12"
drf-yasg==1.21.10 ; python_version >= "3.12"
idna==3.11 ; python_version >= "3.12"
inflection==0.5.1 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pillow==12.0.0 ; python_version >= "3.12"
psycopg2-binary==2.9.10 ; python_version >= "3.12"
pyjwt==2.10.1 ; python_version >= "3.12"
python-dotenv==1.1.1 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
pyyaml==6.0.3 ; python_version >= "3.12"
requests==2.32.4 ; python_version >= "3.12"
sqlparse==0.5.3 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.12"
urllib3==2.5.0 ; python_version >= "3.12"
