    <!--Meta tags-->
    <meta name="description" content="SOON Global olaraq, Cənubi Koreyanın ən yaxşı ikinci əl avtomobillərini Bakıdakı alıcılarla qovuşdururuq. Sektordakı təcrübəmiz və şəffaflıq prinsipimiz sayəsində, avtomobil idxalını mürəkkəb bir prosesdən çıxarırıq. Hər bir avtomobili alıcının gözləntilərini qarşılamaq üçün diqqətlə seçir, yoxlayır və qapınıza qədər çatdırırıq.">

    <meta name="keywords" content="car, Korea, Baku">

    <meta property="og:title" content="Koreya Keyfiyyəti, Bakı Yollarında.">
    <meta property="og:description" content="SOON Global olaraq, Cənubi Koreyanın ən yaxşı ikinci əl avtomobillərini Bakıdakı alıcılarla qovuşdururuq. Sektordakı təcrübəmiz və şəffaflıq prinsipimiz sayəsində, avtomobil idxalını mürəkkəb bir prosesdən çıxarırıq. Hər bir avtomobili alıcının gözləntilərini qarşılamaq üçün diqqətlə seçir, yoxlayır və qapınıza qədər çatdırırıq.">

    {% comment %} <meta property="og:image" content="https://scontent.fgyd20-2.fna.fbcdn.net/v/t39.30808-6/467189249_877114524407522_6986230217856228068_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=uuNUo-9SdjEQ7kNvwFRrMbZ&_nc_oc=AdnJ5wvM3PZmpZk3pw0eqkPgXQf-jD6Ho9WhNuWE6TSdZ8ZryU4h2y3TyTukHASshGE&_nc_zt=23&_nc_ht=scontent.fgyd20-2.fna&_nc_gid=jEWV73Amx4kEL9fVhze76w&oh=00_AfnlsMETbkJH0cLIo1hp5lSvaE6f90wPnWhfcYc5gqoYfg&oe=6943454C"> {% endcomment %}

    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}">

    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}">

    <meta property="og:type" content="website">

    <meta property="og:site_name" content="SOON Global">

    {% comment %} <link rel="icon" href="https://scontent.fgyd20-2.fna.fbcdn.net/v/t39.30808-6/467189249_877114524407522_6986230217856228068_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=uuNUo-9SdjEQ7kNvwFRrMbZ&_nc_oc=AdnJ5wvM3PZmpZk3pw0eqkPgXQf-jD6Ho9WhNuWE6TSdZ8ZryU4h2y3TyTukHASshGE&_nc_zt=23&_nc_ht=scontent.fgyd20-2.fna&_nc_gid=jEWV73Amx4kEL9fVhze76w&oh=00_AfnlsMETbkJH0cLIo1hp5lSvaE6f90wPnWhfcYc5gqoYfg&oe=6943454C" type="image/x-icon"> {% endcomment %}

