/* Favorites Card */
.favorites-card {
  background: linear-gradient(135deg, #1E3A8A, #3B82F6); /* elegant blue gradient */
  color: #fff;
  border-radius: 1rem;
  /* padding: 2rem; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.favorites-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.favorites-card .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Favorite Icon */
.favorite-icon {
  font-size: 1.4rem; /* və ya 2rem, istədiyinə görə seç */
  color: #FF4757; /* elegant heart red */
  cursor: pointer;
  margin-top: 1rem;
  transition: transform 0.2s;
  z-index: 10;
}

.favorite-icon:hover {
  transform: scale(1.2);
}
